@import '/src/variables';

h2 {
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    position: relative;
}

.tituloEsquerda::after {
    content: "";
    width: 20px;
    height: 0px;
    bottom: -3px;
    left: -5px;
    position: absolute;
    border: 1px solid $cor-principal
}

.tituloEsquerda::before {
    content: "";
    width: 0px;
    height: 15px;
    bottom: -3px;
    left: -6px;
    position: absolute;
    border: 1px solid $cor-principal
}

.tituloDireita::after {
    content: "";
    width: 0px;
    height: 15px;
    position: absolute;
    top: 0;
    right: -5px;
    border: 1px solid $cor-principal
}

.tituloDireita::before {
    content: "";
    width: 20px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -5px;
    border: 1px solid $cor-principal
}