.header {
    display: flex;
    align-items: flex-end;
    height: 130px;

    h1 {
        margin-left: 10px;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    aside {
        flex: 0.35;
    }

    div {
        flex:1.8;
        margin-right: 20px;
    }

}