#loading {
    transition: all 0.5s ease-in-out;
}

.logo {
    position: relative;
    animation: flutuacao 2s infinite ease-in-out;
}

@keyframes flutuacao {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}