@import '/src/variables';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.80) 25%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.70) 100%), 
                url('../../../assets/imgs/background.jpg');
    background-size: cover;
    background-position: center center;

    height: 100%;

    color: whitesmoke;

    h1 {
        position: relative;
        margin: 0;
        font-size: 70px;
        color: transparent;
        font-family: 'Prompt', sans-serif;
        -webkit-text-stroke: 2px $cor-principal;
        font-weight: bold;
        text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em
    }

    h1::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        white-space: nowrap;
        color: $cor-principal;
        -webkit-text-stroke: 0px $cor-principal;
        border-right: 2px solid $cor-principal;
        overflow: hidden;
        animation: openTitulo 1.5s forwards;
        animation-delay: 1s;
    }

    @keyframes openTitulo {
        0% {
            width: 0;
        }

        99% {
            border-right-color: $cor-principal;
        }

        100% {
            border-right-color: transparent;
            width: 100%;
        }
    }

    p {
        text-align: center;
        position: relative;
        font-size: 16px;
        height: 16px;
    }

    p::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        white-space: nowrap;
        color: whitesmoke;
        opacity: 0;
        -webkit-text-stroke: 0px $cor-principal;
        border-right: 2px solid whitesmoke;
        overflow: hidden;
        animation: blink 0.5s infinite linear;
        animation-delay: 2.5s;
    }

    @keyframes blink {
        0% {
          opacity: 1;
        }
        99% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    @media screen and (max-width: 900px) {
        h1 {
            font-size: 9vw;
        }

        p {
            font-size: 12px;
            margin: 0 10px;
        }

        p::after {
            height: 0;
        }
    }
}