@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    @apply font-sans text-black;
}

.flex-center-all {
    @apply flex justify-center items-center;
}

.icon-size {
    @apply w-6 h-6;
}

.titulo {
    @apply text-2xl font-bold;
}

.subtitulo {
    @apply text-xl font-semibold;
}