@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flex-center-all {
    @apply flex justify-center items-center;
}

.icon-size {
    @apply w-6 h-6;
}