@import '/src/variables';

.texto {
    width: 100%;
    display: flex;
    justify-content: center;
    
    p {
        margin: 0;
        margin-top: 30px;
    }
}

.description {
    margin-top: 20px;
}
