@import '/src/variables';

.card {
    border: 1px solid $cor-principal;

    width: 30vw;
    height: 180px;
    margin: 10px;
    padding: 10px; 
    color: white;

    display: flex;
    align-items: center;

    h2 {
        margin: 0;
    }
}

@media screen and (max-width: 750px) {
   .card {
        width: 100%;
   }
}


