@import '/src/variables';

.section {
    background-color: $cor-de-fundo;
    color: whitesmoke; 
    padding: 50px;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 10px;
    }
}