.section {
    margin-left: 40px;

    ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        font-size: 20px;
        margin-top: 40px;
        display: inline-block;
        color: whitesmoke;
    }

    &__lista {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        color: whitesmoke;

        ul {
            padding-left: 12px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .section {
        margin: 0;
        
        &__lista {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}